h1 {
  text-align: center;
  font-size: 40px;
}

ul {
  list-style: none;
}
img {
  width: 70px;
}
#city-icon {

  height: 70px;
  width: 70px;
}
.main-container {
  margin: 0 auto;
  max-width: 760px;
}
.container-weather {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 760px;
  color: white;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.searchbar {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
}
.btn {
  background-color: #9896f1;
  color: white;
  margin: 5px 5px;
}
.btn:hover {
  background-color: #77529e;
  color: white;
}
.cityName {
  color: white;
  font-weight: bold;
  font-size: 38px;
  margin-left: -55px;
}
.temp-city {
  font-weight: 600;
  font-size: 3rem;
  text-align: right;
}
.degree {
  font-size: 1.3rem;
  position: relative;
  right: 25px;
  top: 15px;
}
#celsius-link {
  text-decoration: none;
}

.active {
  color: white;
  cursor: default;
}
.active:hover {
  color: white;
  cursor: default;
}

#current-time {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}
.conditions {
  color: white;
  font-weight: 400;
  text-align: left;
}
.day {
  font-weight: 700;
}
.weekdays {
  text-align: center;

}
.row {
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 0;
}